[{config, [
    #{files => ["src/*.erl"],
      ruleset => erl_files,
      rules => [
          {elvis_text_style, max_line_length, #{limit => 100, skip_comments => whole_line}},
          {elvis_style, no_deep_nesting, #{level => 5}},
          {elvis_style, no_god_modules, #{limit => 30}},
          {elvis_style, no_invalid_dynamic_calls, #{
              ignore => [graffeo, graffeo_conn, graffeo_path, graffeo_traverse]
          }},
          {elvis_style, dont_repeat_yourself, #{
              ignore => [graffeo_conn]
          }}
      ]},
    #{files => ["test/*.erl"],
      ruleset => erl_files,
      rules => [
          {elvis_text_style, max_line_length, #{limit => 120, skip_comments => whole_line}},
          {elvis_style, no_deep_nesting, #{level => 5}},
          {elvis_style, no_god_modules, #{limit => 50}},
          {elvis_style, no_block_expressions, #{ignore => [prop_backend_parity]}}
      ]},
    #{files => ["rebar.config"],
      ruleset => rebar_config}
]}].
