{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [
    erlfmt,
    rebar3_lint,
    rebar3_proper,
    rebar3_ex_doc
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns
    ]},
    {plt_extra_apps, []}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{erlfmt, [write]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]},
        {erl_opts, [nowarn_export_all]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.

{ct_opts, [
    {sys_config, []}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/erlsci/graffeo">>},
    {extras, [<<"README.md">>]},
    {main, <<"readme">>}
]}.

{shell, [
    {apps, [graffeo]}
]}.
