{erl_opts, [debug_info]}.

{deps, []}.

{project_app_dirs, ["apps/*", "lib/*", ".", "../.."]}.

{project_plugins, [
    erlfmt,
    rebar3_lint
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns
    ]},
    {plt_extra_apps, [graffeo]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.
